


/*  #main{*/
/*    background-color: #A4E786;*/
/*}*/

  #main{
    background-color: #FFC571;
}

h1{
  font-family: 'Montserrat', sans-serif;
}
/*.nav ul {*/
/*  list-style: none;*/
/*  background: #542F2D;*/
/*  text-align: center;*/
/*  padding:2px ;*/
/*  margin: 2px ;*/
/*}*/
/*.nav li {*/
/*  font-family: 'Oswald', sans-serif;*/
/*  font-size: 1em;*/
/*  line-height: 10px;*/
/*  height: 10px;*/
/*  border-bottom: 1px solid #888;*/
/*}*/
 
/*.nav a {*/
/*  text-decoration: none;*/
/*  color: #fff;*/
/*  display: block;*/
/*  transition: .3s background-color;*/
/*}*/
 
/*.nav a:hover {*/
/*  background-color: #005f5f;*/
/*}*/
 
/*.nav a.active {*/
/*  background-color: #fff;*/
/*  color: #444;*/
/*  cursor: default;*/
/*}*/
 
/*@media screen and (min-width: 600px) {*/
/*  .nav li {*/
/*    width: 120px;*/
/*    border-bottom: none;*/
/*    height: 30px;*/
/*    line-height: 30px;*/
/*    font-size: 1.2em;*/
/*  }*/
 
  /* Option 1 - Display Inline */
/*  .nav li {*/
/*    display: inline-block;*/
/*    margin-right: -4px;*/
/*  }*/

h1#head{
  color:#1E221C;
}

div#tail{
  color:#1E221C;
}
h4.name{
  color:#1E221C;
}
h6.name{
  color:#1E221C;
}
div.whitecolor li.c2 {
    color: #ffffff;
}
div b.c3 {
    color: #1E221C;
}
div p.c4{
    color: #1E221C;
}
li.c5{
    color: #1E221C;
}
